# Node
node_modules/
.npm

# Next.js
.next/
out/

# Env files
.env*.local

# Build output
build/
dist/

# OS
.DS_Store
Thumbs.db

# OpenNext
.open-next

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
